<h1>DATA</h1>
<%= render "components/new" %>



<table style="width:100%">
  <tr>
    <th> </th>
    <th>First name</th>
    <th>Last name</th>
    <th>Participation</th>
  </tr>
    <% @users.each do |user| %>
  <tr>
    <td><%= user.id  %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.participation %>%</td>
  </tr>
  <% end %>
</table>

